{% extends 'base_auth.html.twig' %}


{% block title %}Créer un compte{% endblock %}
{% block auth_title %}Créer un compte{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}

    {{ form_row(registrationForm.username, {
        label: 'Nom d’utilisateur',
        attr: { class: 'form-control' }
    }) }}

    {{ form_row(registrationForm.roles,
        {'attr': {'multiple': false}}
    ) }}

    {{ form_row(registrationForm.plainPassword, {
        label: 'Mot de passe',
        attr: { class: 'form-control' }
    }) }}

    <button type="submit" class="btn btn-success w-100 mt-3">Créer un compte</button>

    {{ form_end(registrationForm) }}

    <div class="text-center mt-3">
        <a href="{{ path('app_login') }}">J’ai déjà un compte</a>
    </div>
{% endblock %}
