{% extends 'base.html.twig' %}

{% block title %}TableResto{% endblock %}

{% block body %}
    <h1>TableResto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ table_resto.id }}</td>
            </tr>
            <tr>
                <th>Num_table</th>
                <td>{{ table_resto.numTable }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ table_resto.capacite }}</td>
            </tr>
            <tr>
                <th>Etat_table</th>
                <td>{{ table_resto.etatTable }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_table_resto_index') }}">back to list</a>

    <a href="{{ path('app_table_resto_edit', {'id': table_resto.id}) }}">edit</a>

    {{ include('table_resto/_delete_form.html.twig') }}
{% endblock %}
